<div class="ui container welcome">
	<div class="ui grid">
		<div class="centered row">
			<div class="middle aligned column">
				<div>
					<i class="huge icons">
						<i class="big grey certificate loading icon"></i>
						<i class="user yellow icon"></i>
					</i>

					<span>
						Hey there, Tech Person, let's
						<span class="emphasis">put Angular into your brain stuffs</span>.
					</span>

					<div class="ui section divider"></div>

					<div class="ui segement">Say more welcomey stuff here.  Soup and cookies.  Come on in.</div>
				</div>
			</div>
		</div>
	</div>
</div>
