<div>
	<h1 class="ui header">
		Make Reservation for Room of ID: {{ roomId }}
	</h1>

	<form class="ui large relaxed form" novalidate>
		<div class="two fields">
			<div class="field">
				<label>Reserve For:</label>
				<select name="reserveReason">
					<option><option>
				</select>
			</div>
		</div>
		<div class="two fields">
			<div class="field">
				<label>Start Time:</label>
				<input name="startTime" type="time">
			</div>
			<div class="field">
				<label>End Time:</label>
				<input name="endTime" type="time">
			</div>
		</div>
		<div class="two fields">
			<div class="field">
				<label>Person to Contact:</label>
				<input name="email1" type="email">
			</div>
			<div class="field">
				<label>Person to Contact (confirm):</label>
				<input name="email2" type="email">
			</div>
		</div>
		<div class="inline field">
			<label>I agree to be clean and good to the room:</label>
			<input name="isAgreed" type="checkbox">
		</div>
		<div class="fields">
			<div class="field">
				<button type="submit"
				        class="ui big positive submit button">Submit</button>
			</div>
		</div>
	</form>
</div>
