.reservation-row-header {
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 210px;
}

.reservation-row-reason {
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 210px;
}

.reservation-row-date {
	display: inline-block;
	overflow: hidden;
}

.make-reservation-button {
	margin-top: -5px;
}