<div>
	<h1 class="ui header">
		Room Reservations for ID:  {{ roomId }}
	</h1>

	<div class="ui segment">
		<button routerLink="../form" class="ui right floated positive button make-reservation-button">Make One</button>
		<p>There are {{ reservations?.length || 'no' }} reservation(s) today.</p>
	</div>

	<div class="ui segment reservation-list" *ngFor="let reservation of reservations">
		<p>
			<span class="reservation-row-header">{{ reservation.email }}</span>
			<span class="reservation-row-reason">{{ reservation.reason }}:</span>
			<span class="reservation-row-date">{{ reservation.startDateTime }} - {{ reservation.endDateTime }}</span>
		</p>
	</div>
</div>
