<div class="ui room container">
	<div class="ui inverted active dimmer" *ngIf="nothing">
		<div class="ui big loader"></div>
	</div>
	<img class="room-image" [src]="'/assets/images/' + room?.picture" [@onLoad]="state">
	<div class="ui padded grid">
		<div class="row">
			<div class="six wide computer only column">
				<div class="room-content">

				</div>
			</div>
			<div class="sixteen wide tablet ten wide computer column">
				<div class="room-content">
					<router-outlet></router-outlet>
				</div>
			</div>
		</div>
	</div>
</div>
