.room-content {
	margin-top: 50px;
}

.room-image {
	position: absolute;
	left: 0;
	bottom: -110px;
	width: 600px;
	max-height: 670px;
	opacity: .75;
}

.room-image-start {
	position: absolute;
	left: 0;
	bottom: -420px;
	width: 600px;
	max-height: 670px;
	opacity: 0;
}
